<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esqueci a Senha - Web Podcast Tech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/src/css/style.css" />
</head>
<body>
    <div class="login-container">
        <h1>Esqueci a Senha</h1>
        <p>Informe seu endereço de e-mail para receber um link de redefinição de senha.</p>
        <form id="forgotPasswordForm" action="/forgot-password" method="post">
            <input type="email" class="form-control mb-3" id="forgot_email" name="email" placeholder="Email address" required/>
            <button type="submit" id="btResetPassword" class="btn btn-primary btn-block">Enviar Link de Redefinição</button>
        </form>
        <a href="/src/view/login.html" class="back-to-login">Voltar para o Login</a>
    </div>
    <script src="/src/script/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>