<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<div class="login-container">
			<h1>Login</h1>
			<form id="loginForm" action="/login" method="post">
				<input
					type="email"
					class="form-control mb-3"
					id="login_email"
					name="email"
					placeholder="Email address or username"
				/>
				<input
					type="password"
					class="form-control mb-3"
					id="password"
					name="password"
					placeholder="Password"
				/>
				<button type="submit" id="btLogin" class="btn btn-primary btn-block">
					Log In
				</button>
			</form>
			<a href="registrationform.html" class="registration-form"
				>You still don't have an account? Click here</a
			>
			<a href="#" class="forgot-password">Forgot your password?</a>
			<div class="social-login">
				<button
					type="button"
					class="btn btn-danger btn-block redirectAccountGoogle"
					id="redirectAccountGoogle"
				>
					Continue with Google Account
				</button>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

		<script src="../script/script.js"></script>
	</body>
</html>
